<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>América Express</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="#">
                        <img src="../img/logo.png" alt="América Express Logo" title="Logo de América Express">
                    </a>
                </li>
                <li>
                    <a href="#">
                        Reseñas
                    </a>
                </li>
                <li>
                    <a href="#">
                        Sobre Nosotros
                    </a>
                </li>
            </ul>
        </nav>
        <div>
            <img src="../img/banner-de-inicio_bus.png" alt="banner-bus" title="Banner de bus América">
        </div>
    </header>
    <main>
        <article>
            <div>
                <form action="">
                    <div>
                        <input type="text" placeholder="Origen">
                        <input type="text" placeholder="Destino">
                        <input type="date">
                    </div>
                </form>
            </div>
        </article>
    </main>

    <footer>
        <p>Nilton Ramos Encarnacion - Todos los derechos reservados</p>
    </footer>
</body>
</html>